.dropdown {
  position: relative;
 
  font-family: Arial, sans-serif;

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    height: 58px;
    &:hover {
      border-color: #007bff;
    }
  }

  .dropdown-list {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: #f0f0f0;
      }
    }
  }

  .arrow {
    font-size: 14px;
  }
}
