.search-bar {

    display: flex;
    align-items: center;
    background-color: #f1f3f5;
    padding: 8px 12px;
    border-radius: 10px;
    width: 500px;
    max-width: 600px;
    border: 1px solid #ccc;
    height: 50px;
    .search-icon {
      font-size: 18px;
      color: #888;
      margin-right: 8px;
    }
  
    input {
      border: none;
      background: transparent;
      width: 100%;
      font-size: 14px;
      outline: none;
  
      &::placeholder {
        color: #aaa;
      }
    }
  }
  